.about-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem;
}

.collab-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collab-text {
  max-width: 1000px;
  font-size: 1.4rem;
  line-height: 2rem;
}

#line {
  min-width: max-content;
  max-width: 80%;
  margin-bottom: 3rem;
}

.logos {
  display: flex;
  justify-content: space-evenly;
  font-family: "Roboto Regular";
}

#x {
  font-size: 3rem;
  font-family: "Roboto Regular";
  /* font-weight: 200; */
}

#yrgo-logo {
  min-width: 20%;
  max-width: 25%;
}

#rm-logo {
  min-width: 10%;
  max-width: 65%;
  /* height: auto; */
}

