.collab-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collab-text {
  max-width: 80%;
  font-size: 1.4rem;
  line-height: 2rem;
}

#line {
  min-width: 80%;
  max-width: 90%;
  margin-bottom: 3rem;
}

.logos {
  display: flex;
  justify-content: space-evenly;
  font-family: "Roboto Regular";
}

#x {
  max-width: 8%;
}

#yrgo-logo {
  padding-top: 2rem;
  min-width: 20%;
  max-width: 25%;
}

#rm-logo {
  min-width: 10%;
  max-width: 65%;
  /* height: auto; */
}

.about-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-right: 10%;
   padding-left: 10%;
}