.canvas_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.unity_canvas {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
  width: 80vw;
  height: calc(80vw * 9 / 16);
  background: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 2s 3s both;
  font-family: "Lota Grotesque";
}

.loading_wrapper {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading_wrapper p {
  font-size: 2rem;
  align-content: center;
  color: #6c6b6b;
  margin-right: 0;
}
.img_container div {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.img_container img {
  height: 8rem;
  justify-content: center;
}

.presentation_wrapper {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  color: #6c6b6b;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Roboto regular;
}

div .loading_text {
  width: 100%;
  display: flex;
  flex-direction: row;
}

span .dots_animation {
  width: 5rem;
}

.button_continue {
  border: none;
  background: white;
  font-size: 16px;
  color: #6c6b6b;
  font-family: "Roboto Regular";
  margin-top: 8rem;
}
.button_continue_two {
  margin-top: 0;
  border: none;
  background: white;
}
.button_continue_two {
  cursor: pointer;
}

.button_continue:hover {
  font-size: 20px;
  cursor: pointer;
}
