section {
  width: 100vw;
}

.canvas_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.unity_canvas {
  display: flex;
  justify-content: center;
  width: 1040px;
  height: 600px;
  background: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 2s 3s both;
}

.loading_wrapper {
  z-index: 1;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading_wrapper p {
  font-size: 2rem;
  align-content: center;
}
.loading_wrapper img {
  display: flex;
  justify-content: center;
}

.presentation_wrapper {
  z-index: 1;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: white;
  color: #6c6b6b;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
